.nav{
  position: relative;
}

.nav:hover+.item{
  display: block;
}
.item{
  display: none;
  position: absolute;
  top: 100%;
  left: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 999;
}

.me-auto{
  margin-left: 500px;
  margin-right: 50px;
  padding: 10px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;


 
}
/* Home page */



.bghome{
  background-color:rgb(42, 42, 222);
}
/* .title{
  font-size: 45px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: indigo;
  padding: 20px;
  text-shadow: 0px 0px 20px yellow;
} */
.header{
  font-family: cursive;
}
.msg{
  font-family: cursive;
  font-size: 25px;
  color: green;
  text-shadow: 0px 0px 20px lightseagreen;
}

.text-center{
  background-color: lavender;
} 


/* create page */
.create{
 margin-top: 100px;
 margin-left: 700px;
 
}

.account{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(130, 0, 111);
 
}
input{
  display:list-item;
  margin: 30px;
  height: 45px;
  width: 500px;
  border: 2px solid rgb(17, 57, 190);
  /* border-radius: 5px; */
  text-align: center;
}
body{
  background-color: lavender;
}
button{
  height: 45px;
  width: 500px;
  margin: 30px;
  background-color: rgb(172, 195, 244);
  border: none;
  border-radius: 10px;
}

/* deposit withdraw */
.total{
  text-align: center;
  font-size: 35px;
  color: rgb(18, 17, 17);
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  letter-spacing: 1px;
  padding-top: 20px;
  padding: 10px;
  margin-right: 20px;
 
}

/* all data */
table {
  border-collapse: collapse;
  width: 100%;
  
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {background-color:rgb(140, 126, 249);}

.bb{
  width: 90px;
}





